<!DOCTYPE html >
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Dr. Kathy Driscoll</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <link rel="icon" href="images/favicon.png" type="image/x-icon"/>
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <!-- Page header-->
      {{{ header }}}
      <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom__inner">
          <ul class="breadcrumbs-custom__path">
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About us </a></li>
            <li class="active">Dr. Driscoll</li>
          </ul>
        </div>
      </section>
      <!-- Team member profile-->
      <section class="section-lg bg-gray-3">
        <div class="shell">
          <!-- Profile Corporate-->
          <article class="profile-corporate"><img class="profile-corporate__image" src="images/driscoll_lg.jpg" alt="" width="418" height="418"/>
            <div class="profile-corporate__caption">
              <p class="profile-corporate__title heading-divider text-center">Kathy Driscoll, DMD</p>
              <p class="profile-corporate__subtitle">Doctor</p>
              <p>
                Dr. Kathy Driscoll graduated from St. Mary’s College in Notre Dame, Indiana with a degree in medical technology. After working and doing research in the fields of microbiology and immunology, she continued her education at the University of Pittsburgh School of Dental Medicine, where she was elected to Omicron Kappa Upsilon National Dental Honor Society. Following graduation, she completed a two-year general practice residency at The Western Pennsylvania Hospital. Upon completion, she became an attending in the Division of Dental Medical at Allegheny General Hospital.
              </p>
              <p>
                In addition to her practice with Dr. Rotz in Wexford, Dr. Driscoll is the full-time director of the Division of Dental Medicine at Allegheny General Hospital. Her primary emphasis is on patient care and establishing a trusting and personal relationship with all of her patients. She provides general, family dental care for children and adults that encompasses all areas of restorative and preventive dentistry, with special emphasis on cosmetic dentistry and crown and bridge work.
              </p>
              <p>
                Dr. Driscoll is a member of the American Dental Association, Pennsylvania Dental Association, Pittsburgh Dental Network, a Seattle Study Club and is a fellow in the Academy of General Dentistry. She is an assistant professor of medicine at both Temple and Drexel Medical Schools. She has been voted one of the Top Dentists in Pittsburgh since its inception in 2007.
              </p>
              <p>
                Dr. Driscoll is married to John Rumin, an attorney with Cohen and Grigsby, and is the proud mother of three sons, John, Michael and Andrew. In her spare time, Dr. Driscoll has a passion for golf and also enjoys playing paddle tennis, reading and spending time with family and friends.
              </p>
            </div>
          </article>
        </div>
      </section>

      <!-- Page Footer-->
      {{{ footer }}}
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
