<!DOCTYPE html >
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>FAQ</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <link rel="icon" href="images/favicon.png" type="image/x-icon"/>
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <!-- Page header-->
      {{{ header }}}
      <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom__inner">
          <ul class="breadcrumbs-custom__path">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">FAQ</li>
          </ul>
        </div>
      </section>
      <section class="section-md bg-gray-3">
        <div class="shell">
          <!-- Accordion-->
          <div id="accordion" role="tablist">
            <!-- Bootstrap panel-->
            <div class="panel panel-custom">
              <div class="panel-custom-heading" id="1Headingundefined" role="tab">
                <h5 class="panel-custom-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#1" href="#1Collapseundefined" aria-controls="1Collapseundefined">What insurances do you accept?</a>
                </h5>
              </div>
              <div class="panel-custom-collapse collapse" id="1Collapseundefined" role="tabpanel" aria-labelledby="1Headingundefined">
                <div class="panel-custom-body">
                  <p>We accept a variety of dental insurances including: Aetna,
                    Humana Dental, Aflac, Meritain Health, Ameritas, MetLife,
                    Anthem Blue Cross Blue Shield, Sun Life Financial, Cigna,
                    United Concordia, Delta Dental, UPMC Dental Advantage and Guardian.</p>
                </div>
              </div>
            </div>
            <!-- Bootstrap panel-->
            <div class="panel panel-custom">
              <div class="panel-custom-heading" id="2Headingundefined" role="tab">
                <h5 class="panel-custom-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#2" href="#2Collapseundefined" aria-controls="2Collapseundefined">What services do you provide?</a>
                </h5>
              </div>
              <div class="panel-custom-collapse collapse" id="2Collapseundefined" role="tabpanel" aria-labelledby="2Headingundefined">
                <div class="panel-custom-body">
                  <p>We provide the following dental services:
                    Cosmetic Dentistry, Restorations, Sealants, Crowns,
                    Same day crowns, Veneers, Bridges, Implants, Dentures, Root Canal Therapy,
                    Oral Cancer Therapy, Minor Tooth Movement (MTM),
                    Treatment for Sleep Apnea, Zoom! Teeth Whitening
                   </p>
                </div>
              </div>
            </div>
            <!-- Bootstrap panel-->
            <div class="panel panel-custom">
              <div class="panel-custom-heading" id="3Headingundefined" role="tab">
                <h5 class="panel-custom-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#3" href="#3Collapseundefined" aria-controls="3Collapseundefined">How do I make an appointment?</a>
                </h5>
              </div>
              <div class="panel-custom-collapse collapse" id="3Collapseundefined" role="tabpanel" aria-labelledby="3Headingundefined">
                <div class="panel-custom-body">
                  <p>If you would like to make an appointment you may call our office at <a href="callto:#">(724) 935-0700</a>.
                  You may also request an appointment online by clicking the button below.</p>
                  <a class="button button-primary" href="/request.html">Request Appointment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
      {{{ footer }}}
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
