
<footer class="footer-modern">
  <div class="shell">
    <div class="footer-modern__layer footer-modern__layer_top">
      <a class="brand" href="index.html">
        <img style="height:75px; width:auto;" src="images/header-logo.png" alt="" width="104" height="28"/>
      </a>
      <ul class="list-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/team.html">Team</a></li>
        <li><a href="/tour.html">Our Office</a></li>
        <li><a href="/faq.html">FAQs</a></li>
        <li><a href="/contact.html">Contact Us</a></li>
        <li><a href="/reviews.html">Reviews</a></li>
      </ul>
      <ul class="list-inline list-inline-lg">
        <li><a class="icon icon-sm icon-secondary icon-secondary-divider fa fa-facebook" href="https://www.facebook.com/DrRotzAndAssociates"></a></li>
      </ul>
    </div>
    <div class="footer-modern__layer footer-modern__layer_bottom">
      <p class="rights"><span>Dr. Barry Rotz & Associates</span><span>&nbsp;</span><span id="copyright-year"></span>.
      </p>
      <ul class="list-bordered">
        <li>
          <dl class="list-terms-minimal">
            <dt>Address</dt>
            <dd>108 VIP Drive Suite 105 Wexford, PA 15090</dd>
          </dl>
        </li>
        <li>
          <dl class="list-terms-minimal">
            <dt>Phones</dt>
            <dd>
              <ul class="list-semicolon">
                <li><a href="callto:#">(724) 935-0700</a></li>
              </ul>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</footer>
