<!DOCTYPE html >
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Dr. Rotz and Associates</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" /><link hrel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />

    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page Header -->
      {{{ header }}}
      <!-- Swiper-->

      <div style="
        z-index: 1000;
        background-color: #fff;
        color: black;
        padding: 4rem;
        border: 1px solid rgba(0,0,0,0.28);
        text-align: center;
      ">
        <span style="font-weight: 700;">Now Accepting New Patients</span>
        <p>Please call <a href="tel:7249350700">(724) 935-0700</a> to make an appointment!</p>
      </div>
      <section>
        <div class="swiper-container swiper-slider swiper-slider_fullheight" data-simulate-touch="false" data-loop="false" data-autoplay="false">
          <div class="swiper-wrapper">
            <div class="swiper-slide bg-gray-lighter" data-slide-bg="images/hero2.jpg">
              <div class="swiper-slide-caption bg-gradient" style="height: 100%;">
                <div style="display: flex; flex-direction: row; padding: 1rem;">
                  <div>
                    <img src="images/header-logo.png" alt="logo" />
                  </div>
                  <div>
                    <h1 class="heading-divider white">
                      Dr. Barry Rotz & Associates
                    </h1>
                    <h3 class="white">
                      A dental experience that will make you smile.
                    </h3>
                    <br />
                    <h5 class="white">
                      <p style="margin:0; display: block;">
                        108 VIP Drive Suite 105 
                      </p>
                      <p style="margin:0; display: block;">
                        Wexford, PA 15090
                      </p>
                    </h5>

                    <h5 class="white">
                      <a href="callto:#">(724) 935-0700</a>
                    </h5>
                    <h5 class="white">
                      info@drrotzandassociates.com
                    </h5>
                    <h5 class="white">
                      Mn-Th: 7am-8pm | Fr: 7am-1pm | Sat: 8am-12pm
                    </h5>


                  </div>
                </div>


{{!--                 
                <div class="shell">
                  <div class="range">
                    <div class="cell-xs-2 cell-lg-1">
                      <div>
                        <img src="images/header-logo.png" alt="" />
                      </div>
                    </div>
                    <div class="cell-xs-10 cell-lg-7">
                      <div>
                        <h1 class="heading-divider white">
                          Dr. Barry Rotz & Associates
                        </h1>
                        <h3 class="white">
                          A dental experience that will make you smile.
                        </h3>
                      </div>
                    </div>
                  </div>
                </div> --}}
              </div>
            </div>
          </div>
          <!-- Swiper Pagination-->
        </div>
      </section>

      <section class="section-lg text-center" style="background-color: #990000;">
        <div class="shell">
          <h3 id="reviews" class="text-center heading-divider text-white">Reviews</h3>
        </div>
        <div class="owl-carousel owl-carousel-thumb owl-carousel-md-dots" data-items="1" data-xs-items="1" data-sm-items="2" data-md-items="3" data-lg-items="3" data-dots="true" data-nav="true" data-stage-padding="15" data-loop="true" data-margin="20" data-xl-margin="50" data-mouse-drag="false">
          <div class="owl-item">
            <div class="card">
              <blockquote class="blockquote mb-0 card-body">
                <h5 class="card-title text-body">Wonderful Experience</h5>
                <p class="text-body" style="font-size: 1rem;">
                  From the moment I made the appointment it was clear that this was a professionally run office.
                  Even in the midst of a global pandemic, things were handled extremely professionally, communication was excellent,
                  and the actual in the chair experience was good. I was a new patient. The staff was friendly.
                  My dentist (Dr. Burzese) was excellent and took the time needed to explain everything he was doing.
                  I got an extremely thorough exam and treatment. You will not go wrong. This is a modern practice at its best.
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Matthew G.</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="owl-item">
            <div class="card">
              <blockquote class="blockquote mb-0 card-body">
                <h5 class="card-title text-body">Great Dental Practice!</h5>
                <p class="text-body" style="font-size: 1rem;">
                  First - thank you for all of the precautions being taken to safeguard patients and staff.
                  Dr. Rotz and Kellie were both great taking care of my dental work today- a crown.
                  Thorough explanation, calm and care during procedure, and utmost professionalism at all times.
                  Raving about a dentist isn't always the easiest thing to do, but I do so today with no hesitation.
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Michael C.</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>


          <div class="owl-item">
            <div class="card">
              <blockquote class="blockquote mb-0 card-body">
                <h5 class="card-title text-body">COVID Cleaning and Checkup</h5>
                <p class="text-body" style="font-size: 1rem;">
                  I had my appt already made six months ago so it was perfect timing for me as Barry Rotz's dental office just opened the previous Friday.
                  I had seen Barry on TV the week before and saw all he had done to make it safe for all his patients,
                  so I felt confident that all would go well and it did.
                  I called once I got to their parking lot, questions were asked, someone came out to take my temperature and
                  to escort me to my hygienist Rosa - can't say enough good things about her who was in the waiting room and the only one there.
                  Rosa took me back to her area where I was asked to sanitize my hands. Then I was given a special mouthwash.
                  Rosa and Barry always do an excellent job at what they do and they are both very, very thorough and friendly.
                  At the end of my appt I again sanitized my hands and was shown the way out with no one in front or back of me.
                  I was very thankful for all that was done to make it safe for all the patients.
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Kay R.</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>



          <div class="owl-item">
            <div class="card">
              <blockquote class="blockquote mb-0 card-body">
                <h5 class="card-title text-body">Well Organized</h5>
                <p class="text-body" style="font-size: 1rem;">
                  This practice continues to be customer minded even during such trying times.
                  The process was reviewed in advance and upon arrival, it was as stated. Well done!  
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Anonymous</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>


          <div class="owl-item">
            <div class="card">
              <blockquote class="blockquote mb-0 card-body">
                <h5 class="card-title text-body">I love going to the dentist again!</h5>
                <p class="text-body" style="font-size: 1rem;">
                  Can't say enough good things about how on top of the COVID procedures this team is!
                  Dr. Clark always puts me at ease and does such a great job.
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Melinda M.</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="owl-item">
            <div class="card">
              <blockquote class="blockquote mb-0 card-body">
                <h5 class="card-title text-body">Happy Dr. Cisco is back!</h5>
                <p class="text-body" style="font-size: 1rem;">
                  I was impressed with the efforts of this dental practice to make me feel safe in this uncertain day.
                  The protocol they have put in place is well thought-out and thorough and covers all of my concerns about the spread of the Covid-19 virus.
                  Great job Rotz Dental Associates!!
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Theresa B.</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>


          <div class="owl-item">
            <div class="card">
              <blockquote class="blockquote mb-0 card-body">
                <h5 class="card-title text-body">Dr. Rotz and Associates</h5>
                <p class="text-body" style="font-size: 1rem;">
                  Family dentistry at its finest. We've been their patients for over 20 years now, and have experienced nothing but the best from Dr Rotz, and from his entire staff.
                  You enter the door and the kind of caring and patience that is fast going obsolete elsewhere, is evident in every little thing.
                  I would recommend them to anyone looking for personal, quality dentistry, and the very best service and attention. 
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Sangita T.</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="owl-item">
            <div class="card">
              <blockquote class="blockquote mb-0 card-body">
                <h5 class="card-title text-body">Replaced Crown</h5>
                <p class="text-body" style="font-size: 1rem;">
                  I liked the service and professionalism. I was in the office for 3 hours, but left with a permanent crown that fit very well.  
                </p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Anonymous</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

          <div class="owl-item">
            <div class="card">
              <blockquote class="blockquote mb-0 card-body">
                <h5 class="card-title text-body">Great with kids!</h5>
                <p class="text-body" style="font-size: 1rem;">
                  We came in today for our 6 month cleaning and checkup for my son who is almost 4. They were great with him for the cleaning and took great care of him!
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    <cite title="Source Title">Holden S.</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>

        </div>
      </section>

      <!--Welcome to Corp-->
      <section class="bg-gray-dark text-center">
        <!-- RD Parallax-->
          <div class="rd-parallax bg-image rd-parallax-light" data-on="false" data-xl-on="true" style="background-image: url(images/operatory.jpg);">
          <div class="rd-parallax-layer" data-speed="0.35" data-type="media" data-url="images/operatory.jpg"></div>
          <div class="rd-parallax-layer" data-speed="0.1" data-type="html">
            <div class="shell section-md bg-gradient">
              <h3 class="heading-divider">Welcome</h3>
              <div class="range text-sm-left">
                <div class="box-single-services">
                  <p style="font-size: 1.25rem;">For over 31 years, Dr. Barry Rotz and Associates has served the north Pittsburgh area with dental care of the highest standard. From restorative options like dental implants and crowns, to cosmetic treatments such as porcelain veneers and teeth whitening, our comprehensive services at Dr. Barry Rotz & Associates will meet your needs and exceed your expectations.
We look forward to meeting you, so call us today for your appointment.</p>
                </div>
            </div>
          </div>
        </div>

      </section>

      <section class="section-md bg-gray-3">
        <div class="shell">
          <h3 id="doctors" class="text-center heading-divider">Our Doctors</h3>
        </div>
        <div class="owl-carousel owl-carousel-thumb owl-carousel-md-dots" data-items="1" data-xs-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-dots="true" data-nav="true" data-stage-padding="15" data-loop="true" data-margin="20" data-xl-margin="50" data-mouse-drag="false">
          <div class="owl-item">
            <div class="team-box">
              <div class="team-box-image"> <img src="images/drbarryrotz.jpg" alt="" width="301"/>
              </div>
              <div class="team-box-content">
                <div class="team-box-content-inner">
                  <div class="team-box-title">
                    <h4><a href="/rotz.html"> Dr. Barry Rotz</a></h4>
                  </div>
                  <div class="team-box-cite"> <span>Doctor</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="team-box">
              <div class="team-box-image"> <img src="images/sisco.jpg" alt="" width="301" height="503"/>
              </div>
              <div class="team-box-content">
                <div class="team-box-content-inner">
                  <div class="team-box-title">
                    <h4><a href="/sisco.html">Dr. Maria Sisco</a></h4>
                  </div>
                  <div class="team-box-cite"> <span>Doctor</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="team-box">
              <div class="team-box-image"><img src="images/ginger.jpg" alt="" width="301" height="503"/>
              </div>
              <div class="team-box-content">
                <div class="team-box-content-inner">
                  <div class="team-box-title">
                    <h4><a href="/clarke.html">Dr. Ginger Stevenson-Clarke</a></h4>
                  </div>
                  <div class="team-box-cite"><span>Doctor</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="team-box">
              <div class="team-box-image"><img src="images/ryan.jpg" alt="" width="301" height="503"/>
              </div>
              <div class="team-box-content">
                <div class="team-box-content-inner">
                  <div class="team-box-title">
                    <h4><a href="/burzese.html">Dr. Ryan Burzese</a></h4>
                  </div>
                  <div class="team-box-cite"><span>Doctor</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="team-box">
              <div class="team-box-image"><img src="images/arieta.jpg" alt="" width="301" height="503"/>
              </div>
              <div class="team-box-content">
                <div class="team-box-content-inner">
                  <div class="team-box-title">
                    <h4><a href="/arieta.html">Dr. Luiza Arieta-Verlinden</a></h4>
                  </div>
                  <div class="team-box-cite"><span>Doctor</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Start Improving Your Business Today!-->
      <section class="bg-gray-dark text-center rd-parallax-gradient">
        <!-- RD Parallax-->
        <div class="rd-parallax bg-image rd-parallax-light rd-parallax-overlay" data-on="false" data-xl-on="true" style="background-image: url(images/lobby.jpg);">
          <div class="rd-parallax-layer" data-speed="0.35" data-type="media" data-url="images/lobby.jpg"></div>
          <div class="rd-parallax-layer" data-speed="0" data-type="html">
            <div class="shell section-md rd-parallax-overlay">
              <h2 class="heading-divider">Make an Appointment Today!</h2><a class="button button-gradient-intro-outline" href="/request.html">Request Appointment<span class="button-gradient-intro__overlay"> </span></a>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      {{{ footer }}}
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>
