<!DOCTYPE html >
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home Default</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" /><link hrel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />

    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <!-- Page Header -->
      {{{ header }}}
      <!-- Swiper-->
      <div style="
        z-index: 1000;
        background-color: #ffc925;
        color: black;
        padding: 4rem;
      ">
        <span style="font-weight: 500;">COVID-19 UPDATE:</span >
        <p>
          Due to Pennsylvania Department of Health's requirements in response to the COVID-19
          pandemic we are currently closed and prohibits us from seeing emergency patients. Until
          the guidance from the Pennsylvania State Health Officials changes, we will be available only
          for emergency phone consultations. You will have the opportunity to have emergency phone
          consultations daily with the on call doctor. Please call the answering services at
          724-935-7728 who will get in touch with the doctor on call. We will be closed until further notice.
        </p>
        <p>
          Thank you for your patience in this matter. Please keep checking your texts, emails,
          and FaceBook for further updates.
        </p>
      </div>
      <section>
        <div class="swiper-container swiper-slider swiper-slider_fullheight" data-simulate-touch="false" data-loop="false" data-autoplay="false">
          <div class="swiper-wrapper">
            <div class="swiper-slide bg-gray-lighter" data-slide-bg="images/woman-smiling-stock.jpg">
              <div class="swiper-slide-caption bg-gradient">
                <div class="shell">
                  <div class="range">
                    <div class="cell-xs-10 cell-lg-7">
                      <h1 class="heading-divider white" data-caption-animate="fadeInUpSmall">Dr. Barry Rotz & Associates</h1>
                      <h3 class="white" data-caption-animate="fadeInUpSmall" data-caption-delay="200">A dental experience that will make you smile.</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper Pagination-->
          <div class="swiper-pagination"></div>
        </div>
      </section>

      <section class="section-lg bg-primary text-center">
        <div class="shell">
          <div class="range range-sm-center range-50">
            <div class="cell-sm-6 cell-md-3">
              <!-- Box counter-->
              <article class="box-counter">
                <div class="box-counter__icon linear-icon-calendar-31"></div>
                <div class="box-counter__wrap">
                  <div class="counter">34</div>
                </div>
                <p class="box-counter__title">Years</p>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-3">
              <article class="box-counter">
                <div class="box-counter__icon linear-icon-clipboard-user"></div>
                <div class="box-counter__wrap">
                  <div class="counter">1000</div><span>+</span>
                </div>
                <p class="box-counter__title">Patients Treated</p>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-3">
              <!-- Box counter-->
              <article class="box-counter">
                <div class="box-counter__icon linear-icon-grin"></div>
                <div class="box-counter__wrap">
                  <div class="counter">1000</div><span>+</span>
                </div>
                <p class="box-counter__title">Smiles</p>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-3">
              <!-- Box counter-->
              <article class="box-counter">
                <div class="box-counter__icon linear-icon-tooth"></div>
                <div class="box-counter__wrap">
                  <div class="counter">32000</div><span>+</span>
                </div>
                <p class="box-counter__title">Teeth</p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!--Welcome to Corp-->
      <section class="bg-gray-dark text-center">
        <!-- RD Parallax-->
          <div class="rd-parallax bg-image rd-parallax-light" data-on="false" data-xl-on="true" style="background-image: url(images/operatory.jpg);">
          <div class="rd-parallax-layer" data-speed="0.35" data-type="media" data-url="images/operatory.jpg"></div>
          <div class="rd-parallax-layer" data-speed="0.1" data-type="html">
            <div class="shell section-md rd-parallax-overlay">
              <h3 class="heading-divider">Welcome</h3>
              <div class="range text-sm-left">
                <div class="box-single-services">
                  <p>For over 31 years, Dr. Barry Rotz and Associates has served the north Pittsburgh area with dental care of the highest standard. From restorative options like dental implants and crowns, to cosmetic treatments such as porcelain veneers and teeth whitening, our comprehensive services at Dr. Barry Rotz & Associates will meet your needs and exceed your expectations.
We look forward to meeting you, so call us today for your appointment.</p>
                </div>
            </div>
          </div>
        </div>

      </section>

      <section class="section-md bg-gray-3">
        <div class="shell">
          <h3 id="doctors" class="text-center heading-divider">Our Doctors</h3>
        </div>
        <div class="owl-carousel owl-carousel-thumb owl-carousel-md-dots" data-items="1" data-xs-items="1" data-sm-items="2" data-md-items="3" data-lg-items="5" data-dots="true" data-nav="true" data-stage-padding="15" data-loop="true" data-margin="20" data-xl-margin="50" data-mouse-drag="false">
          <div class="owl-item">
            <div class="team-box">
              <div class="team-box-image"> <img src="images/drbarryrotz.jpg" alt="" width="301"/>
              </div>
              <div class="team-box-content">
                <div class="team-box-content-inner">
                  <div class="team-box-title">
                    <h4><a href="/rotz.html"> Dr. Barry Rotz</a></h4>
                  </div>
                  <div class="team-box-cite"> <span>Owner, Doctor</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="team-box">
              <div class="team-box-image"> <img src="images/sisco.jpg" alt="" width="301" height="503"/>
              </div>
              <div class="team-box-content">
                <div class="team-box-content-inner">
                  <div class="team-box-title">
                    <h4><a href="/sisco.html">Dr. Maria Sisco</a></h4>
                  </div>
                  <div class="team-box-cite"> <span>Doctor</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="team-box">
              <div class="team-box-image"><img src="images/ginger.jpg" alt="" width="301" height="503"/>
              </div>
              <div class="team-box-content">
                <div class="team-box-content-inner">
                  <div class="team-box-title">
                    <h4><a href="/clarke.html">Dr. Ginger Stevenson-Clarke</a></h4>
                  </div>
                  <div class="team-box-cite"><span>Doctor</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="team-box">
              <div class="team-box-image"><img src="images/ryan.jpg" alt="" width="301" height="503"/>
              </div>
              <div class="team-box-content">
                <div class="team-box-content-inner">
                  <div class="team-box-title">
                    <h4><a href="/burzese.html">Dr. Ryan Burzese</a></h4>
                  </div>
                  <div class="team-box-cite"><span>Doctor</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Start Improving Your Business Today!-->
      <section class="bg-gray-dark text-center rd-parallax-gradient">
        <!-- RD Parallax-->
        <div class="rd-parallax bg-image rd-parallax-light rd-parallax-overlay" data-on="false" data-xl-on="true" style="background-image: url(images/lobby.jpg);">
          <div class="rd-parallax-layer" data-speed="0.35" data-type="media" data-url="images/lobby.jpg"></div>
          <div class="rd-parallax-layer" data-speed="0" data-type="html">
            <div class="shell section-md rd-parallax-overlay">
              <h2 class="heading-divider">Make an Appointment Today!</h2><a class="button button-gradient-intro-outline" href="/request.html">Request Appointment<span class="button-gradient-intro__overlay"> </span></a>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      {{{ footer }}}
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
