<!DOCTYPE html >
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Dr. Barry Rotz</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" /><link hrel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page header-->
      {{{ header }}}
      <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom__inner">
          <ul class="breadcrumbs-custom__path">
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About us </a></li>
            <li class="active">Dr. Rotz</li>
          </ul>
        </div>
      </section>
      <!-- Team member profile-->
      <section class="section-lg bg-gray-3">
        <div class="shell">
          <!-- Profile Corporate-->
          <article class="profile-corporate"><img class="profile-corporate__image" src="images/rotz_lg.jpg" alt="" width="418" height="418"/>
            <div class="profile-corporate__caption">
              <p class="profile-corporate__title heading-divider text-center">Barry Rotz, DMD</p>
              <p class="profile-corporate__subtitle">Doctor, Owner</p>
              <p>
                Dr. Barry L. Rotz, DMD opened his Wexford-based dental practice in August 1986
                with a philosophy of treating each patient as if they were family. Since then, he has
                expanded his practice to 23 employees including four other dentists. Dr. Rotz was the
                first dentist in Pennsylvania to introduce CEREC technology, which utilizes CAD CAM computer
                visualization. Dr. Rotz also holds a B.S. in Natural Science Biology and Chemistry from
                Indiana University of Pennsylvania and a D.M.D. from the University of Pittsburgh.
              </p>
              <p>
                Stemming from his roots in rural Pennsylvania, Dr. Rotz is also very
                involved in his community. He served as president of the Cranberry Township
                Athletic Association for four years and president of the Seneca Valley Lacrosse
                Association for the following four years
              </p>
              <p>
                When Dr. Rotz is not at the office, you can find him fishing in the Outer Banks,
                attending a Pirates game, making wine, or spending time with his family. Dr. Rotz and wife, Dianne,
                have two grown children. Their daughter, husband and their triplets live nearby in Pittsburgh while their son resides in Virginia.
                The couple make their home in Cranberry Township with their pup, Lincoln</p>
            </div>
          </article>
        </div>
      </section>

      <!-- Page Footer-->
      {{{ footer }}}
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>
