<!DOCTYPE html >
<html class="wide wow-animation smoothscroll" lang="en">
  <head>
    <!-- Site Title-->
    <title>Team</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" /><link hrel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <!-- Page header-->
      {{{ header }}}
      <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom__inner">
          <ul class="breadcrumbs-custom__path">
            <li><a href="index.html">Home</a></li>
            <li class="active">Team</li>
          </ul>
        </div>
      </section>
      <section class="section-md bg-gray-3">
        <div class="shell">
          <h3 class="text-center heading-divider">Office Manager</h3>
          <div class="range range-sm-center offset-1">
            <div class="cell-sm-11 cell-md-9 cell-lg-12">
              <div class="range range-70">
                <div class="cell-lg-6">
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/leslie-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Leslie</h4>
                        <p>Office Manager, Dental Hygienist</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h3 class="text-center" style="margin-top: 50px;">Dental Hygienist</h3>
          <div class="range range-sm-center offset-1">
            <div class="cell-sm-11 cell-md-9 cell-lg-12">
              <div class="range range-70">
                <div class="cell-lg-6">
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/leslie-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Leslie</h4>
                        <p>Office Manager, Dental Hygienist</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/kathy-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Kathy</h4>
                        <p>Dental Hygienist</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/breonna-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Breonna</h4>
                        <p>Dental Hygienist</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cell-lg-6">
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/alissa-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Alissa</h4>
                        <p>Dental Hygienist</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/rosa-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Rosa</h4>
                        <p>Dental Hygienist</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/stephanie-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Stephanie</h4>
                        <p>Dental Hygienist</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h3 class="text-center" style="margin-top: 50px;">Dental Assistant</h3>
          <div class="range range-sm-center offset-1">
            <div class="cell-sm-11 cell-md-9 cell-lg-12">
              <div class="range range-70">
                <div class="cell-lg-6">
                   <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/julie-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Julie</h4>
                        <p>Dental Assistant</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/kellie-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Kellie</h4>
                        <p>Dental Assistant</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/jill-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Jill</h4>
                        <p>Dental Assistant</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cell-lg-6">
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/ronalyn-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Ronalyn</h4>
                        <p>Dental Assistant</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/hayley-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Hayley</h4>
                        <p>Dental Assistant</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h3 class="text-center" style="margin-top: 50px;">Benefits and Account Coordinator</h3>
          <div class="range range-sm-center offset-1">
            <div class="cell-sm-11 cell-md-9 cell-lg-12">
              <div class="range range-70">
                <div class="cell-lg-6">
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/sandy-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Sandy</h4>
                        <p>Benefits & Account Coordinator</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h3 class="text-center" style="margin-top: 50px;">Appointment Coordinator</h3>
          <div class="range range-sm-center offset-1">
            <div class="cell-sm-11 cell-md-9 cell-lg-12">
              <div class="range range-70">
                <div class="cell-lg-6">
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/nancy-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Nancy</h4>
                        <p>Appointment Coordinator</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/june-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>June</h4>
                        <p>Appointment Coordinator</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/evelyn-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Evelyn</h4>
                        <p>Appointment Coordinator</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cell-lg-6">
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/alyson-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Alyson</h4>
                        <p>Appointment Coordinator</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/theresa-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Theresa</h4>
                        <p>Appointment Coordinator</p>
                      </div>
                    </div>
                  </div>
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/greta-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Greta</h4>
                        <p>Appointment Coordinator</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cell-lg-6">
                  <div class="box-client">
                    <div class="unit unit-spacing-lg unit-sm-horizontal">
                      <div class="unit__left"><img class="img-circle" src="images/tara-2-cropped.jpg" alt="" width="236" height="236"/>
                      </div>
                      <div class="unit__body">
                        <h4>Tara</h4>
                        <p>Appointment Coordinator</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
      {{{ footer }}}
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
